<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Elenco Giochi</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="listing-content">
 
  <h4 class="categories-title">Giochi caricati</h4>
  <ion-row class="grid-categories">
    <ion-col width-50 class="category-item" *ngFor="let gioco of listing.giochi_ok">
      <background-image tappable class="category-heading" [src]="gioco.attributes.image" (click)="goToGioco(gioco.attributes.id, gioco.attributes.name, gioco.attributes.image)">
        <ion-row class="heading-row">
          <ion-col no-padding width-100>
            <h2 class="category-title">{{gioco.attributes.name}}</h2>
          </ion-col>
        </ion-row>
      </background-image>
    </ion-col>
  </ion-row>
</ion-content>
