<ion-header class="forgot-password-header auth-header">
  <ion-navbar>
    <ion-title>Recupera Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forgot-password-content auth-content">
  <h2 class="auth-title">Ripristina password</h2>
  <p class="recover-message"> 
    Inserisci la mail di registrazione per recuperare la password.
  </p>
  <form class="forgot-password-form auth-form" [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <button ion-button block class="auth-action-button recover-password-button" type="submit" [disabled]="!forgot_password.valid">Reset password</button>
  </form>
  
  <ion-row class="alt-options">
    <ion-col no-padding width-50>
      <button ion-button block clear class="login-button" (click)="goToLogin()">Login</button>
    </ion-col>
    <ion-col no-padding width-50>
      <button ion-button block clear class="signup-button" (click)="goToSignup()">Sign up!</button>
    </ion-col>
  </ion-row>
    <br/>
    <h3 class="auth-title" id="wrongmail" style="display:none;">Inserire una mail valida</h3>

    <h4 class="auth-title" id="forgotmessage" style="display:none;">Riceverai una mail per ripristinare la tua password</h4>

</ion-content>
