<ion-header>
  <ion-navbar>
    
    <ion-title>
     Profilo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settings-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-40>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="user.image" alt="aca va la img" title="IMAGE!"></preload-image>
      </ion-col>
    </ion-row>
   
  </div>


    <ion-list class="user-data-content">
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-label style="font-size:15px; padding-bottom:10px;">{{user.name}}</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Descrizione</ion-label>
        <ion-label style="font-size:15px; ">{{user.description}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>