<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Lista tornei</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="schedule-content">

<ion-content class="list-mini-content">
  <div class="list-mini">
    <ion-list>
      <div class="list-item" ion-item *ngFor="let item of list2.tornei">
        <ion-row no-padding class="content-row one-line">
          <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
          
          <ion-col no-padding width-72 class="item-content">
            <h3 class="item-title">{{item.attributes.text}}</h3>
            <p class="item-description">{{get_date(item.attributes.start_date)}}</p>
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon class="item-icon" name="arrow-forward" (click)="goToClassifica(item.id)"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>
</ion-content>
