

<ion-content class="walkthrough-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
    <ion-slide class="slide-1">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/boardgame.png" title="BoardGameNights"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Wir Werden Gewinnen</h2>
     
      <p class="intro-text">
        Siamo pronti a giocare!
      </p><br/>
      <div class="button-bar" style="background-color:#5aa8b3;">
        <button ion-button primary (click)="goToLogin()" style="background-color:#b21862;">Login</button>
        <button ion-button primary (click)="goToSignup()" style="background-color:#b21862;">Registrati</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
