<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Calendario" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Classifiche" tabIcon="trophy"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Giochi" tabIcon="ribbon"></ion-tab>
</ion-tabs>
