<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="product_id">{{product_name}}</span>
      <span *ngIf="torneo_id">{{torneo_name}}</span>
      <span *ngIf="!product_id && !torneo_id">Calendario partite</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="schedule-content">


<div class="if" *ngIf="product_id">
 <ion-card>
      <preload-image [ratio]="{w:3, h:2}" [src]="product_image" title="product_name"></preload-image>
      <ion-card-content>
        <ion-card-title class="item-title">
          Elenco partite
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <div class="if" *ngIf="regolamento">
      <a href="{{regolamento}}">Regolamento</a>
    </div>


     <ion-list class="schedule-list">
        <ion-item class="schedule-item" *ngFor="let item of schedule.downcoming">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{get_day(item.attributes.start_date)}}</h2>
              <h3 class="schedule-month">{{get_month(item.attributes.start_date)}}</h3>
              <h4 class="schedule-time">{{get_year(item.attributes.start_date)}}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.attributes.title}}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{get_full(item.attributes.start_date)}}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward" (click)="goToEvent(item.attributes.id)"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <button ion-button block clear class="forgot-button" (click)="goToClassificaProduct(product_id)">Vedi classifica gioco</button>
</div>
<div  class="if" *ngIf="torneo_id">
      <ion-list class="schedule-list">
        <ion-item class="schedule-item" *ngFor="let item of schedule.downcoming">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{get_day(item.attributes.start_date)}}</h2>
              <h3 class="schedule-month">{{get_month(item.attributes.start_date)}}</h3>
              <h4 class="schedule-time">{{get_year(item.attributes.start_date)}}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.attributes.title}}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{get_full(item.attributes.start_date)}}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward" (click)="goToEvent(item.attributes.id)"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

       <button ion-button block clear class="forgot-button" (click)="goToClassificaTorneo(torneo_id)">Vedi classifica torneo</button>
</div>
<div  class="if" *ngIf="!torneo_id && !product_id">
  <ion-segment class="schedule-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="past" (ionSelect)="onSegmentSelected($event)">
      <
    </ion-segment-button>
    <ion-segment-button value="downcoming" (ionSelect)="onSegmentSelected($event)">
      {{get_month_year(week.from)}}
    </ion-segment-button>
    <ion-segment-button value="next" (ionSelect)="onSegmentSelected($event)">
      >
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'downcoming'">
      <ion-list class="schedule-list">
        <ion-item class="schedule-item" *ngFor="let item of schedule.downcoming">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{get_day(item.attributes.start_date)}}</h2>
              <h3 class="schedule-month">{{get_month(item.attributes.start_date)}}</h3>
              <h4 class="schedule-time">{{get_year(item.attributes.start_date)}}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.attributes.title}}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{get_full(item.attributes.start_date)}}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward" (click)="goToEvent(item.attributes.id)"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>

  
</ion-content>
