<ion-header>
  <ion-navbar>
    <ion-title>
     <span *ngIf="product_id">Classifica {{product_name}}</span>
      <span *ngIf="torneo_id && !giocatore_name">Classifica {{torneo_name}}</span>
      <span *ngIf="giocatore_name">Classifica {{torneo_name}} di {{giocatore_name}}</span>
   </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="list-big-content">

  <div class="if" *ngIf="personal_score">
    <div class="list-big">
       <ion-list>
          <div class="list-item" ion-item *ngFor="let fin1 of final1">
            
            <ion-col no-padding width-36 class="item-content" style="max-width:30%;">

                <h3 class="item-title" style="font-size:25px;max-width:30%;color:#5aa8b3;">{{fin1.name}} - Pos: {{fin1.posizione}}</h3>
                <p class="item-description" style="font-size:16px;max-width:30%;">{{get_day(fin1.date)}}/{{get_month(fin1.date)}}/{{get_year(fin1.date)}}</p>
           </ion-col>
            <ion-col no-padding width-36 class="item-content">
                <h3 class="item-title">Punti: {{fin1.punti}}</h3>
           </ion-col>
           <ion-col no-padding width-18 class="item-avatar" style="float:right;">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="fin1.image" style="max-width:150px;margin-top:-90px;"></preload-image>
            </ion-col>
          </div>
      </ion-list>
    </div>
  </div>

  <div class="if" *ngIf="!personal_score && !product_id">
    <div class="list-big">
       <ion-list>
            <div class="list-item" ion-item *ngFor="let fin of final" (click)="goToClassifica(fin.contact_id)">
              
              <ion-col no-padding width-36 class="item-content" style="max-width:30%;">
                  <h3 class="item-title" style="font-size:25px;max-width:30%;color:#5aa8b3;">{{fin.name}}</h3>
                  <p class="item-description" style="font-size:20px;max-width:30%;">Punti: {{fin.punti}}</p>
             </ion-col>
              <ion-col no-padding width-36 class="item-content">
                  <h3 class="item-title" style="font-size:25px;float:right;padding-right:50%;margin-top:-45px;color:gold;">1st: {{fin.primi_posti}}</h3>
                  <p class="item-description" style="font-size:20px;float:right;padding-right:50%;margin-top:-20px;color:silver;">2nd: {{fin.secondi_posti}}</p>
                   <p class="item-description" style="font-size:15px;float:right;padding-right:50%;margin-top:-2px;color:#CD7F32;">3rd: {{fin.terzi_posti}}</p>
             </ion-col>
             <ion-col no-padding width-18 class="item-avatar" style="float:right;">
                <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="fin.image" style="max-width:150px;margin-top:-62px;margin-left:300%;"></preload-image>
              </ion-col>
            </div>
        </ion-list>
      </div>
  </div>

  <div class="if" *ngIf="!personal_score && product_id">
    <div class="list-big">
       <ion-list>
            <div class="list-item" ion-item *ngFor="let fin of final">
              
              <ion-col no-padding width-36 class="item-content" style="max-width:30%;">
                  <h3 class="item-title" style="font-size:25px;max-width:30%;color:#5aa8b3;">{{fin.name}}</h3>
                  <p class="item-description" style="font-size:20px;max-width:30%;">Punti: {{fin.punti}}</p>
             </ion-col>
              <ion-col no-padding width-36 class="item-content">
                  <h3 class="item-title" style="font-size:25px;float:right;padding-right:50%;margin-top:-45px;color:gold;">1st: {{fin.primi_posti}}</h3>
                  <p class="item-description" style="font-size:20px;float:right;padding-right:50%;margin-top:-20px;color:silver;">2nd: {{fin.secondi_posti}}</p>
                   <p class="item-description" style="font-size:15px;float:right;padding-right:50%;margin-top:-2px;color:#CD7F32;">3rd: {{fin.terzi_posti}}</p>
             </ion-col>
             <ion-col no-padding width-18 class="item-avatar" style="float:right;">
                <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="fin.image" style="max-width:150px;margin-top:-62px;margin-left:300%;"></preload-image>
              </ion-col>
            </div>
        </ion-list>
      </div>
  </div>
</ion-content>