<ion-header class="signup-header auth-header">
  <ion-navbar>
    <ion-title>Nuova registrazione</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Crea un account</h2>
  <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
   
    <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid">Registrati</button>
  </form>
  <!--<p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()">Sign up with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleSignup()">Sign up with Google</button>
  <p class="legal-stuff">
    By creating an account you agree to our <a class="legal-action" (click)="showPrivacyModal()">Privacy policy</a> and <a class="legal-action" (click)="showTermsModal()">Terms of use</a>
  </p>-->
   <br/>
    <h3 class="auth-title" id="wrongmail" style="display:none;">Inserire una mail valida</h3>

    <h4 class="auth-title" id="forgotmessage" style="display:none;">Segui le istruzioni nella mail che ti è stata appena inviata per proseguire nella registrazione</h4>
</ion-content>
