page-events {

	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.counter-list
	{
		@include counter-item-styles($white-d, $theme-color-1, $white);
	}

	.list-mini-content
	{
		background-color: color($colors, background, base);

		.if{
			.list-mini
			{
				@include layout-list-styles($theme-color-2, $white-d);

				ion-list {
					margin: 0px;

					.list-item
					{
						padding: 10px;
						@include element-shadow();
						border: none !important;

						.content-row
						{
							@include flex-wrap(nowrap);
							@include align-items(flex-start);
						}

						.item-inner
						{
							border: none;
							background: none;
							padding: 0px;

							ion-label {
								margin: 0px;
							}
						}

						.item-avatar
						{
							padding-right: 5px;

							preload-image.avatar-image
							{
								border-radius: 6px;

								img
								{
									border-radius: 6px;
								}
							}
						}

						.item-content
						{
							padding: 0px 5px;

							.item-title
							{
								font-size: 1.6rem;
								font-weight: 500;
								letter-spacing: 0.2px;
								
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							
							}

							&.one-line
							{
								@include align-items(center);

								.item-description
								{
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
							}

							.item-description
							{
								font-size: 1.2rem;
								line-height: 1.1;
								letter-spacing: 0.2px;
								
								overflow: visible;
								text-overflow: initial;
								white-space: normal;
							}
						}

						.item-icon
						{
							text-align: right;
						
							padding-left: 10px;
							@include align-self(center);

							ion-icon {
								font-size: 2.0em;
							}
						}
					}
				}
			}
		}
	}

}


