<!--
  Generated template for the Events page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Partita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="list-mini-content">
   <ion-card>
      <preload-image [ratio]="{w:3, h:2}" [src]="event.image" title="event.title"></preload-image>
      <ion-card-content>
        <ion-card-title class="item-title">
          {{event.title}}
        </ion-card-title>
        <p class="item-text">
          {{event.description}}
        </p>
      </ion-card-content>
    </ion-card>
	
	<div class="if" *ngIf="punteggi">
	
		  <div class="list-mini" style="max-height:130px;">
		    <ion-list>
		      <button class="list-item" ion-item *ngFor="let fin of final">
	          
	          <ion-col no-padding width-72 class="item-content">
		            <h3 class="item-title" style="font-size:25px;">{{fin.name}}</h3>
		            <p class="item-description" style="font-size:15px;">Posizione: {{fin.posizione}}</p>
		            <p class="item-description" style="font-size:15px;">Punti: {{fin.punti}}</p>
		       </ion-col>
		       <ion-col no-padding width-18 class="item-avatar" style="float:right;">
	            <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="fin.image" style="max-width:150px;margin-top:-62px;"></preload-image>
	          </ion-col>
		      </button>
		    </ion-list>
		  </div>
	  </div>
	<div *ngIf="!punteggi && !savePoints">
			  <button ion-button block clear class="forgot-button" (click)="salvaPunti()">Segna punteggi</button>
	</div>
	<div *ngIf="savePoints">
	<ion-item-divider>Classifica</ion-item-divider>
		 <div class="list-item" ion-item *ngFor="let fin of giocatori">
	          
	          <ion-col no-padding width-50 class="item-content">
		            <h3 class="item-title" style="font-size:25px;">{{fin.name}}</h3>
		       </ion-col>
		       <ion-col no-padding width-50 class="item-content" style="float:right;">
	             <form [formGroup]="counterForm">
				      <ion-list class="counter-list">
				        <ion-item class="counter-item">
				          <span class="counter-label">Pos.</span>
				          <counter-input formControlName="counter" id="punti_{{fin.id}}"></counter-input>
				        </ion-item>
				       </ion-list>
				    </form>
	          </ion-col>
	      </div>
	      <button ion-button block class="auth-action-button login-button" (click)="salvaPunteggi()">Salva Punteggi</button>
	   
	</div>
</ion-content>
